<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {{ config.title }} {% endblock title %}</title>
    <link rel="stylesheet" href="{{get_url(path='css/style.css')}}" />
  </head>
  <body class="bg-amber-50 text-stone-800">
    <main class="max-w-2xl mx-auto p-2 flex flex-col gap-4 min-h-screen">
      <header class="flex justify-between">
        <a class="text-3xl font-serif" href="{{config.base_url}}">
          <span class="text-stone-800">Clane's</span>
          <span class="text-mist-600 font-bold">Note</span>
        </a>
      </header>
      <article class="flex-1">{% block content %} {% endblock %}</article>
      <footer class="text-center text-sm text-gray-500 pb-4">
        © 2026
        <a class="hover:text-gray-800 font-serif" href="{{config.base_url}}">
          <span class="">Clane's</span>
          <span class="">Note</span>
        </a>
      </footer>
    </main>
  </body>
</html>
