{% extends "base.html" %} 

{% block content %}

{# Posts Section #}
<section class="mb-12">
  {% set section = get_section(path="posts/_index.md") %}
  <h2 class="text-2xl font-bold text-stone-700 mb-6 border-b-2 border-stone-200 pb-2">{{ section.title }}</h2>
  <div class="flex flex-col gap-2">
    {% for page in section.pages %}
      <a href="{{ page.permalink }}" class="block py-2 rounded-lg">
        <div class="flex flex-col justify-between items-baseline">
          <h3 class="text-lg font-semibold text-stone-800 hover:underline hover:text-mist-600 underline-offset-4">{{ page.title }}</h3>
          <p class="text-sm text-stone-500 shrink-0   ">{{ page.date | date(format="%Y-%m-%d") }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

{# Books Section #}
<section class="mb-12">
  {% set section = get_section(path="books/_index.md") %}
  <h2 class="text-2xl font-bold text-stone-700 mb-6 border-b-2 border-stone-200 pb-2">{{ section.title }}</h2>
  <div class="flex flex-col gap-4">
    {% for page in section.pages %}
    <div class="flex flex-col justify-between items-baseline">
      <a href="{{ page.permalink }}" class="block rounded-lg">
        <h3 class="text-lg font-semibold text-stone-800 hover:underline hover:text-mist-600 underline-offset-4">{{ page.title }}</h3>
      </a>
      <p class="text-sm text-stone-500 shrink-0">{{ page.date | date(format="%Y-%m-%d") }}</p>
      {% if page.summary %}
      <div class="prose prose-sm prose-stone text-stone-600">
        {{ page.summary | safe }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

{# Projects Section #}
<section class="mb-12">
  {% set section = get_section(path="projects/_index.md") %}
  <h2 class="text-2xl font-bold text-stone-700 mb-6 border-b-2 border-stone-200 pb-2">{{ section.title }}</h2>
  <div class="flex flex-col gap-4">
    {% for page in section.pages %}
    <a href="{{ page.permalink }}" class="block py-2 rounded-lg">
      <div class="flex flex-col justify-between items-baseline">
        <h3 class="text-lg font-semibold text-stone-800 hover:underline hover:text-mist-600 underline-offset-4">{{ page.title }}</h3>
        <p class="text-sm text-stone-500 shrink-0">{{ page.date | date(format="%Y-%m-%d") }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock %}
